$font-baloo:'Baloo Thambi 2', cursive;
$font-raleway:"Raleway", cursive;
$font-rubik:"Rubik", cursive;
$font-nunito:"Nunito", cursive;
$font-poppins:"Poppins", sans-serif;
$color-primary: #003859;
$color-second: #00A5C4;
$color-yellow: #FFD289;


